.storyHome:last-child {
  margin-right: 0px !important;
}

.category {
  width: 150px;
}

@media (max-width: 768px) {
  .category {
    width: 220px;
  }

  .videoContent {
    height: 45vh !important;
  }

  .videoMainShow {
    height: 43vh !important;
  }

  .videoDataShow {
    margin-top: 44vh !important;
  }

  .dialogBoxBody span {
    font-size: 11px !important;
  }

  .shareDialogVideo .showImgShareIcon {
    justify-content: space-evenly !important;
  }

  .shareDialogVideo .showImgShareIcon .showShareIcon {
    width: 35px !important;
    height: 35px !important;
    border-radius: 6px !important;
    margin: 0px 2px !important;
  }

  .showImgShareIcon button {
    font-size: 12px !important;
  }

  .showImgShareIcon button img {
    width: 18px !important;
    height: 18px !important;
  }
}

@media (max-width: 600px) {
  .category {
    width: 450px;
  }

  .videoContent {
    height: 40vh !important;
  }

  .videoMainShow {
    height: 38vh !important;
  }

  .videoDataShow {
    margin-top: 40vh !important;
  }

  .dialogBoxBody span {
    font-size: 11px !important;
  }

  .storyViewModel {
  }

  .storyViewModel .topButtonShow {
  }

  .storyViewModel .topButtonShow .showUserImgBox {
    padding: 0px 8px;
  }

  .storyViewModel .topButtonShow .showUserImgBox img {
    width: 40px;
    height: 40px;
  }

  .storyViewModel .topButtonShow .showUserImgBox span {
    font-size: 12px;
    line-height: 17px;
    margin-left: -1px;
  }

  .storyViewModel .slider-container .prev {
  }

  .storyViewModel .slider-container .prev img {
    width: 28px !important;
  }

  .storyViewModel .slider-container .next img {
    width: 28px !important;
  }
  .storyViewModel .bottomHearBox {
    bottom: 28px !important;
  }
  .storyViewModel .bottomHearBox button {
    padding: 2px !important;
  }
  .storyViewModel .bottomHearBox button img {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (max-width: 375px) {
  .category {
    width: 600px;
  }

  .dialogBoxBody span {
    font-size: 11px !important;
  }

  .shareDialogVideo img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: 0px 2px;
  }
}

@media (max-width: 400px) {
  .shareDialogVideo .showImgShareIcon .showShareIcon {
    width: 30px !important;
    height: 30px !important;
    border-radius: 6px !important;
    margin: 0px 2px !important;
  }

  .showImgShareIcon button {
    margin-left: -6px !important;
    font-size: 11px !important;
  }

  .showImgShareIcon button img {
    width: 13px !important;
    height: 13px !important;
  }

  .copyLinkShort img {
    width: 20px !important;
    height: 20px !important;
  }
}

@media (max-width: 320px) {
  .category {
    width: 700px;
  }

  .dialogBoxBody span {
    font-size: 11px !important;
  }
}

@media (max-width: 350px) {
  .shareDialogVideo .showImgShareIcon .showShareIcon {
    width: 26px !important;
    height: 26px !important;
    border-radius: 6px !important;
    margin: 0px 2px !important;
  }

  .showImgShareIcon button {
    margin-left: -6px !important;
    padding: 5px !important;
    font-size: 10px !important;
  }

  .showImgShareIcon button img {
    width: 13px !important;
    margin-right: 3px !important;
    height: 13px !important;
  }

  .copyLinkShort span {
    padding: 6px !important;
  }

  .copyLinkShort img {
    width: 20px !important;
    margin-right: 4px !important;
    height: 20px !important;
  }

  .showImgAllIconShare {
    padding: 11px 5px !important;
    margin: 0px !important;
  }

  .shareDialogVideo .showBoxAllShare {
    margin-bottom: 13px !important;
  }
}

@media (max-width: 1200px) {
  .showAdsGrid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (min-width: 1200px) {
  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    max-width: 100%;
  }

  .slide {
    scroll-snap-align: start;
    flex: 0 0 33.33%;
  }

  .dots {
    display: none;
  }
}

@media (max-width: 1023px) {
  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    max-width: 100%;
  }

  .slide {
    scroll-snap-align: start;
    flex: 0 0 100%;
  }
}

@media (max-width: 1024px) {
  .text-sponser {
    width: 118px;
    margin-bottom: 14px;
  }

  .doted {
    margin-top: 9px;
  }
}

@media (max-width: 1024px) {
  .text-sponser3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .btn3 {
    margin-top: 5px;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 19%;
  }
}

@media (max-width: 1024px) {
  .dote2 {
    margin-bottom: 12px;
  }
}

@media (max-width: 1024px) {
  .dote3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .text-dec {
    width: 213px;
  }
}

@media (max-width: 768px) {
  .main-video {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .main-video-content {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .btn {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 16%;
  }
}

@media (max-width: 768px) {
  .dots-three {
    width: 36px;
  }
}

@media (max-width: 768px) {
  .vertical-dots {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .vertical-dots {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 320px) {
  .vertical-dots {
    width: 16px;
    height: 16px;
  }
}

.main-video-content {
  width: 100%;
  height: 100%;
}

@media (max-width: 7320px) {
  .btn {
    margin-top: 30px;
  }

  .no-padding {
    padding: 0 !important;
  }
}

.dialogBoxMain {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .dialogBoxBody {
    padding: 10px;
  }

  h6 {
    font-size: 18px;
  }

  .scrollbarShow {
    max-height: 50vh;
  }

  .commentBoxInput {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .dialogBoxBody {
    padding: 10px;
  }

  h6 {
    font-size: 18px;
  }

  .scrollbarShow {
    max-height: 50vh;
  }

  .commentBoxInput {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .dialogBoxBody {
    width: 100%;
    padding: 7px;
  }
}

@media (max-width: 480px) {
  .dialog-header h6 {
    font-size: 16px;
  }

  .share-icon {
    width: 25px;
    height: 25px;
  }

  .share-btn {
    padding: 4px 8px;
    font-size: 12px;
  }

  .copy-link-container img {
    width: 15px;
  }
}

@media (max-width: 768px) {
  .dialog-box-body {
    width: 95%;
    padding: 15px;
  }

  .dialog-header h6 {
    font-size: 18px;
  }

  .close-btn {
    width: 30px;
    height: 30px;
  }

  .close-btn img {
    width: 18px;
  }

  .share-icon {
    width: 30px;
    height: 30px;
  }

  .share-btn {
    padding: 6px 10px;
    font-size: 14px;
  }

  .copy-link-container span {
    font-size: 12px;
  }

  .copy-link-container img {
    width: 18px;
  }
}

@media (max-width: 425px) {
  .Shorts {
    width: 40rem;
  }
}

@media (max-width: 375px) {
  .Shorts {
    width: 53rem;
  }
}

@media (max-width: 320px) {
  .Shorts {
    width: 45rem;
  }
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 14px;
  }
  .responsive-hashtag {
    font-size: 14px;
  }
  .responsive-username {
    font-size: 16px;
  }
  .responsive-caption {
    font-size: 14px;
    line-height: 1.4;
  }
}


@media (max-width: 320px) {
  .shorts-icons {
    gap: 4px;
  }
}


@media (max-width: 320px) {
  .shorts-text{
    width: 100%;
  }
}